# Ignore __pycache__ directories
__pycache__/

# Ignore .pyc files
*.pyc

# Ignore /vscode directory
.vscode/

# Ignore .pytest_cache directory
.pytest_cache/

# Ignore measurements_*.txt (too large)
measurements_*.txt

# Ignore conda environment
env/

# Ignore files over 100MB
reviews.csv

# Ignore example storage
example_storage/

# Ignore test backup folders
tests_backups*/

# Ignore log files
*.log

# Ignore node_modules
node_modules/

# Package build files
build/
dist/
*.egg-info/